.nav {
   grid-area: nav;
   background-color: #07B568;
   padding: 15px;
}

.item a {
   color: #fff;
   transition: .2s;
   line-height: 30px;
   text-decoration: none;
}

.item a.active {
   color: yellow;
}



.item a:hover {
   color: #000;
   cursor: pointer;
}