
.nav {
   grid-area: nav;
   background-color: #07B568;
   padding: 5px;
}

.item {
   color: #fff;
   transition: .2s;
}

.item.active {
   background-color: chocolate;
}

.item:hover {
   color: #000;
   cursor: pointer;
}